# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
learnX.xcworkspace
Pods/
Podfile.lock
*.dSYM.zip

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
android/app/release/
generated/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/README.md
fastlane/key.json
Gemfile.lock

# Bundle artifact
*.jsbundle

# VSCode
.vscode/

# dotenv
.env.default

# travis
secrets.tar.gz

# GitHub Pages
_site
.sass-cache

# CodePush
ios/CodePush.plist
android/app/src/main/res/values/codepush.xml

# Firebase
ios/GoogleService-Info.plist
android/app/google-services.json

# patches
!patches/node_modules
