<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2ofNsrVlaCJqHK8IsJX7y_lXis4zwkU4</string>
	<key>GCM_SENDER_ID</key>
	<string>858579386216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.robertying.learnX</string>
	<key>PROJECT_ID</key>
	<string>learnx-5e172</string>
	<key>STORAGE_BUCKET</key>
	<string>learnx-5e172.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858579386216:ios:17593760bca1eca47f60dd</string>
</dict>
</plist>
